<!DOCTYPE html>
<html>
<head>
	<title>Yoga Website</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
 	<link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container">
		<p class="title">My Yoga</p>
		<a href="/auth/google"><div class="button fill-left">Sign in with Google</div></a>
	</div>
</body>
</html>