<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="/css/welcome.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class='vertical-center'>
		<p class="greeting"> Hello, <%=name%></p>
		<p class="challenge-question">Are you ready for your Yoga Challenge?</p>

		<div class="container">
		<a href="/quiz"><div class="button">Mastery Challenge</div></a>
		</div>
	</div>
	
</body>
</html>
