body{
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', sans-serif;
    color:white;
}
.quiz-title{
    font-size:60px;
    letter-spacing: 1px;
    margin-bottom:15px;
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    /*border-bottom: solid 2px;*/
}
.container{
    width:600px;
    margin:0px auto;
    padding: 10px 50px 50px 50px;
    border-radius: 20px;
    text-align: center;
}

.mdl-slider__container, .mdl-slider__background-flex {
    background: 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.mdl-slider__container {
    width: 500px;
    margin-top: 8px;
    float: left;
    height: 18px;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.mdl-slider.is-upgraded {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 4px;
    background: 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    padding: 0;
    color: rgb(255,193,7);
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    z-index: 1;
}

.mdl-slider {
    width: calc(100% - 40px);
    margin: 0 20px;
}

.mdl-accordion, .mdl-button, .mdl-card, .mdl-checkbox, .mdl-dropdown-menu, .mdl-icon-toggle, .mdl-item, .mdl-radio, .mdl-slider, .mdl-switch, .mdl-tabs__tab {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.mdl-slider__background-flex {
    position: absolute;
    height: 4px;
    width: calc(100% - 52px);
    top: 45%;
    left: 0;
    margin: 0 26px;
    overflow: hidden;
    border: 0;
    border-radius: 5px;
    padding: 0;
    -webkit-transform: translate(0,-1px);
    -ms-transform: translate(0,-1px);
    transform: translate(0,-1px);
}

.mdl-slider__container, .mdl-slider__background-flex {
    background: 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.mdl-slider__background-lower, .mdl-slider__background-upper {
    -webkit-box-flex: 0;
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;
    position: relative;
    border: 0;
    padding: 0;
}
.mdl-slider__background-lower {
    background: #ecf0f1;
}

.mdl-slider__background-upper {
    background: rgba(0,0,0,.4);
    -webkit-transition: left .18s cubic-bezier(.4,0,.2,1);
    transition: left .18s cubic-bezier(.4,0,.2,1);
}

.mdl-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: white;
    cursor: pointer;
}
.slider-value{
    font-size: 20px;
}
.question{
    font-size: 24px;
}