body{
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', sans-serif;
    color:white;
    overflow: hidden;
}
.quiz-title{
    font-size:60px;
    letter-spacing: 1px;
    margin-bottom:15px;
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    /*border-bottom: solid 2px;*/
}
.container{
    max-width:600px;
    margin:0px auto;
    text-align: center;
    color:black;
    perspective: 1000px;
}

.mdl-slider__container, .mdl-slider__background-flex {
    background: 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.mdl-slider__container {
    width: 500px;
    margin-top: 8px;
    float: left;
    height: 18px;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.mdl-slider.is-upgraded {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 4px;
    background: 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    padding: 0;
    color: rgb(255,193,7);
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    z-index: 1;
}

.mdl-slider {
    width: calc(100% - 40px);
    margin: 0 20px;
}

.mdl-accordion, .mdl-button, .mdl-card, .mdl-checkbox, .mdl-dropdown-menu, .mdl-icon-toggle, .mdl-item, .mdl-radio, .mdl-slider, .mdl-switch, .mdl-tabs__tab {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.mdl-slider__background-flex {
    position: absolute;
    height: 4px;
    width: calc(100% - 52px);
    top: 45%;
    left: 0;
    margin: 0 26px;
    overflow: hidden;
    border: 0;
    border-radius: 5px;
    padding: 0;
    -webkit-transform: translate(0,-1px);
    -ms-transform: translate(0,-1px);
    transform: translate(0,-1px);
}

.mdl-slider__container, .mdl-slider__background-flex {
    background: 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.mdl-slider__background-lower, .mdl-slider__background-upper {
    -webkit-box-flex: 0;
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;
    position: relative;
    border: 0;
    padding: 0;
}
.mdl-slider__background-lower {
    background: #77c2bb;
}

.mdl-slider__background-upper {
    background: #b0afaf;
    -webkit-transition: left .18s cubic-bezier(.4,0,.2,1);
    transition: left .18s cubic-bezier(.4,0,.2,1);
}

.mdl-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #009688;
    cursor: pointer;
}
.slider-value{
    font-size: 20px;
}
.question{
    font-size: 24px;
}

.container-header{
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.container-header span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(0,0,0,0.2)
}
.active-page{
    background: #FF8F00 !important;
}

.questions{
    width: 600px;
    padding:20px 0px 20px 0px;
    background:white;
    box-shadow: 0px 50px 30px -30px rgba(0,0,0,0.3);
    position: absolute;
    display: none;
    transform-origin: top left;
}

.button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 10px auto;
  padding: 10px;
  border: 2px solid #e67e22;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}
.button:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #e67e22;
}
.lrr-button:after {
  right: 0;
  left: auto;
}
.button:hover {
  cursor: pointer;
}
.button:hover:after {
  width: 100%;
  left: 0;
}
.form-next{
    margin-top: 50px;
    width: 175px;
    font-size: 20px;
}
.active-question{
    display: block;
}

.animate-slide-out{
    animation: out 600ms ease-in-out forwards;
}

.animate-slide-in{
    animation: in 500ms ease-in-out forwards;
    display: block;
}

.animate-slide-away{
  animation: away 600ms ease-in-out forwards;
}


@keyframes out{
  0%{transform: translateY(0px) rotate(0deg)}
  60%{transform: rotate(60deg)}
  100%{transform: translateY(800px) rotate(10deg)}
}

@keyframes in{
  0%{
    opacity: 0;
    -webkit-transform:rotateX(-90deg);
    transform: rotateX(-90deg);
  }

  100%{
    opacity: 1;
    -webkit-transform:rotateX(0deg);
    transform: rotateX(0deg);
  }
}

@keyframes away{
      0%{
        transform: translateY(0px) rotate(0deg);
        opacity: 1;
    }
      100%{
        transform: translateY(800px) rotate(10deg);
        opacity: 0;
    }
}
    